.MatcheCard__match {
    width: 100%;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    border-radius: 1rem;
    padding: 15px;
    background-color: #204473;
    color: white;
}

.MatcheCard__match_time {
    font-size: small;
    font-weight: 200;
    text-align: center;
    margin: auto;
}

.MatcheCard__score {
    color: white;
    border-radius: 15px;
    font-size: larger;
    background-color: #F2522E;
    width: 175px;
    height: auto;
}

.MatcheCard__team_name {
    width: 90px;
    font-size: larger;
}


.MatcheCard__team_score,
.MatcheCard__team_vs {
    font-size: large;
}


/*Media break at 1000px*/
@media only screen and (max-width: 1200px) {
    .MatcheCard__match {
        width: 100%;
    }
}


/*Media break at 1000px*/
@media only screen and (max-width: 950px) {
    .MatcheCard__match {
        width: 100%;
    }

    .MatcheCard__score {
        font-size: large;
    }

    .MatcheCard__team_name {
        width: 90px;
        font-size: large;
    }
}

/*Media break at 400px*/
@media only screen and (max-width: 950px) {
    .MatcheCard__score {
        font-size: medium;
        width: 100px;
    }

    .MatcheCard__team_name {
        font-size: medium;
    }
}