.PanelTabsGames__mui_Box {
    margin-right: 80px;
    margin-left: 80px;
}

.PanelTabsGames__mui_tabpanel {
    padding: 20px;
}

/*Media break at 1200px*/
@media only screen and (max-width: 1200px) {
    .PanelTabsGames__mui_Box {
        margin-right: 20px !important;
        margin-left: 20px !important;
    }
    .PanelTabsGames__mui_tabpanel {
        padding: 10px;
    }
}

/*Media break at 1000px*/
@media only screen and (max-width: 1000px) {
    .PanelTabsGames__mui_Box {
        margin-right: 0 !important;
        margin-left: 0 !important;
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
    .PanelTabsGames__mui_tabpanel {
        padding: 5px;
    }
}