.sponsors {
    margin: 45px
}

.sponsors__container__img {
    height: 150px;
    margin: auto 50px;
}

/*Media break at 1000px*/
@media only screen and (max-width: 1000px) {
    .sponsors {
        margin: 10px
    }
    .sponsors__container__img {
        height: 100px;
        margin: auto 30px;
    }

}