.App {
    margin: 20px 76px;
}

.layout__nav {
    margin: 10px 76px;
}

.layout__nav__logoesg,
.layout__nav__logoesg__centered {
    display: block;
    max-height: 45px;
    height: auto;
    width: auto;
}

.layout__nav__logoesg__centered {
    margin: 10px auto;
    max-height: 40px;
}

.layout__list_item {
    color: #1B91BF;
}

/*Media break at 1200px*/
@media only screen and (max-width: 1200px) {
    .App {
        margin-right: 40px;
        margin-left: 40px;
    }

    .layout__nav {
        margin-right: 40px;
        margin-left: 40px;
    }
}


/*Media break at 1000px*/
@media only screen and (max-width: 1000px) {
    .App {
        flex-direction: column !important;
        margin: 0;
    }

    .layout__nav {
        right: 0.1rem;
        top: 0.1rem;
        margin: 0;
        position: absolute;
    }

    .layout__nav__button {
        color: white;
    }

    .layout__nav__logoesg {
        display: none;
    }
}